body {
    display:flex;
     flex-direction: column;
    justify-content: center;
    align-items: center; 

}

ul {
    list-style-type: none;
}
li {
    width: 500px;
    border: solid lightgrey 3px;
    border-radius:10px;
    padding: 2em;
    margin: 1em;
    
}