<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Tweet</title>
</head>
<body>
    <h1>Compose new Tweet below</h1>
    <form method="POST" action="/create">
        <label for="username">Username: </label>
        <input type="text" name="username" id="">
        <label for="comment">Inspire the world</label>
        <textarea name="comment" id="" cols="30" rows="10"></textarea>
        <button>Post</button>
    </form>
    
</body>
</html>